body{
    background-color: #fdfcdc;
}

#meu_nome{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#descrição_foto{
    font-family: monospace;
}

#nome_lista{
    font-size: 20px;
}

#sobre_mim{
    font-size: 30px;
}

#resido{
    font-weight: 900;
}