body {
    background-color: #fdfcdc;
}

.meu_nome {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


.descrição_foto {
    font-family: monospace;
    float: right;
    margin-right: 25%;
    margin-top: 200px;   
}

.minha_foto {
    margin-left: 25%;
    margin-bottom: 40px; 
    padding: 5px;
    background-color: crimson; 
}

.nome_lista {
    font-size: 20px;
}

.sobre_mim {
    font-size: 30px;
}

#resido {
    font-weight: 900;
}

.lista-1 {
    margin-bottom: 40px;
}

.lista-2 li:nth-child(odd) {
    background-color: crimson;
}